# Computer Vision
opencv-python==4.9.0.80
mediapipe==0.10.14
numpy==1.26.4

# Data
pandas==2.2.2
scikit-learn==1.4.2
tqdm==4.66.4

# FastAPI
fastapi==0.110.3
uvicorn[standard]==0.30.1
python-multipart==0.0.9

# FastAPI dependency
pydantic==2.7.1
typing_extensions>=4.10.0

protobuf==4.25.3

SQLAlchemy
pymysql
httpx
