fastapi==0.110.3
uvicorn==0.29.0
python-multipart==0.0.9

opencv-python==4.9.0.80
numpy==1.26.4

tensorflow==2.16.1
mediapipe==0.10.14
tf_keras==2.16.0

openai-whisper
ollama
email-validator
faster_whisper
openai
torchvision==0.25.0
aiofiles
httpx